{% extends "base.html" %}

{% block content %}

    <div class="row">
        {% if leagues|length > 1 %}
        {% for league in leagues %}

        <div class="col-sm-4">
            <div class="card">
                {% if league.logo_url %}
                <img src="{{league.logo_url}}" class="card-img-top" style="height: 200px" alt="Logo">
                {% else %}
                <img src="../static/image/default-league-logo.png" class="card-img-top" style="height: 200px"
                    alt="Logo">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{league.name}}</h5>
                    <p class="card-text">Current Week: {{league.current_week}}</p>
                    <button type="button" class="btn btn-primary btn-analyis" data-league-id="{{league.league_id}}" data-week="{{league.current_week-1 if league.current_week > league.start_week | int else league.start_week | int}}">Analyze</button>
                </div>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <div class="alert alert-warning" role="alert">
            It seems you are not playing yahoo fantasy basketball this year.
        </div>
        {% endif %}
    </div>


    <div class="progress fixed-bottom d-none">
        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100">0%</div>
    </div>
{% endblock %}